<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/game.css">
    <script src="./javascript/game.js" defer></script>
    <title><%= title %></title>
</head>
<body>
    <h1><%= file.name %>'s page</h1>
    <form action="/start">
        <button type="submit" class="start-game">Start</button>
    </form>
    <div class="image-container"
    data-file='<%- JSON.stringify(file) %>'
    onclick="getCoordinates(event, file)">
        <img src="<%= file.path %>" alt="gameCanvas">
        <div class="selection-circle"></div>
        <div class="options-menu">
            <% file.coords.forEach(element => { %>
                <button data-choice="<%= element.name %>"><%= element.name %></button>
            <% }); %>
        </div>
    </div>
</body>
</html>