<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/game.css">
    <script src="./javascript/game.js" defer></script>
    <title><%= title %></title>
</head>
<body>
    <h1><%= file.name %>'s page</h1>
    <form action="/start">
        <button type="submit" class="start-game">Start</button>
    </form>
    <div class="image-container"
    data-file='<%- JSON.stringify(file) %>'
    onclick="getCoordinates(event, file)">
        <img src="<%= file.path %>" alt="gameCanvas">
        <div class="selection-circle"></div>
        <div class="options-menu">
            <% file.coords.forEach(element => { %>
                <button data-choice="<%= element.name %>"><%= element.name %></button>
            <% }); %>
        </div>
    </div>
    <div class="form-background">
        <form action="/game/submit" method="POST" class="record-form">
            <div class="record-info">
                <label for="username">Username: </label>
                <input type="text" name="username" id="username">
                <input type="hidden" value="<%= file.id %>" name="file">
            </div>

            <div class="record-info">
                <h1 class="totalTime"></h1>
            </div>

            <button type="submit">submit time</button>
        </form>
    </div>
</body>
</html>